.navbar {
    background-color: #2c3e50; /* Dark blue-gray background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: sticky;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: lightblue;
}